body {
	font-size: 14px;
	color:#bdbdbd;
	line-height: 18px;
	background: #0f0f0f;
	font-family: helveticaneuecyrroman;
}

h1,h2,h3,h4,h5,h6 {
	margin-top:0;
	color:#555;
	line-height: 1;
	margin-bottom: 20px;
	font-family: helveticaneuecyrlight;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h3, h4, h5 {
	font-size: 18px;
}
.left {
	float:left;
}
strong {
}
:focus {
	outline: none;
}
a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-decoration: underline;
	color:#e74924;
	&:hover, &:focus {
		color:#e74924;
		text-decoration: none;
	}
}
p {
	margin-bottom:0;
}
textarea {
	resize: none;
	border:2px solid #e3e4e8;
	border-radius: 3px;
	padding:10px;
	color:#707070;
	font-size: 13px;
	line-height: 16px;
}
.cf {
	&:after {
		content:"";
		display: table;
		clear:both;
	}
}
.mb10 {
	margin-bottom:10px;
}
.mb20 {
	margin-bottom:20px;
}
.right {
	float:right;
}
.w960 {
	width:960px;
	margin:0 auto;
	padding:0 10px;
	&:after {
		content:"";
		clear:both;
		display: table;
	}
}
.inn {
	width:960px;
	margin:0 auto;
	@extend .cf;
}
.index-big-pic {
	background: url(../img/pic.jpg) 50% 0;
	height:700px;
	height:440px;
	position: relative;
	&:before {
		content:"";
		background: url(../img/white_corner.png) no-repeat;
		width:105px;
		height:61px;
		z-index: 2;
		position: absolute;
		top:0;
		left:0;

	}
	.white-t {
		position: absolute;
		top:70px;
		left:0;
		z-index: 2;
		color:#fff;
		width:650px;
		font-size: 48px;
		line-height: 41px;
	}
	.orange-t {
		position: absolute;
		top:180px;
		left:0;
		z-index: 2;
		color:#e74924;
		width:550px;
		font-size: 48px;
		line-height: 40px;
		font-family: helveticaneuecyrultralight;
	}
}
.audio-player {
	margin-bottom: 50px;
	height:60px;
	background: #272727;
}
.heading-patter-lines {
	background: url(../img/lines.png) no-repeat 120px 10px;
	margin-bottom: 40px;
	h1 {
		color:#e1e1e1;
		margin:0;
		padding-right:3px;
		background: #0f0f0f;
		float:left;
	}
}

.columns {
	@extend .cf;
	.column {
		width:50%;
		float:left;
		&:first-child {
			padding-right:10px;
		}
		&:last-child {
			padding-left: 10px;
		}
	}
}
.index-small-galery {
	margin-top:40px;
	> .cf {
		margin-bottom: 10px;
	}
	.cf > a {
		display: block;
		float:left;
		margin-left: 10px;
		position: relative;
		&:after {
			content: "";
			height:2px;
			background: rgba(225,225,225, .5);
			left:0;
			bottom:0;
		}
		&:first-child {
			margin-left: 0;
		}
		img {
			display: block;
			height:80px;
			width:110px;
		}
	}
	.show-all {
		text-align: right;
	}
}
.events-news {
	margin:17px -10px 0;
	.box {
		width:225px;
		margin:0 10px 20px;
		float:left;
		height:160px;
		position: relative;
		text-align: right;
		overflow: hidden;
		background: #e1e1e1;
		padding:10px 10px 10px 20px;
		&:before {
			content:"";
			background: url(../img/corner-top.png) no-repeat;
			width:84px;
			height:49px;
			top:0;
			left:0;
			z-index: 1;
			position: absolute;
		}
		&:after {
			content:"";

			position: absolute;
			z-index: 2;
		}
		&.mus:after {
			@include icons-sprite(music);
			width:16px;
			height:16px;
			top:10px;
			left:8px;
		}
		&.micr:after {
			@include icons-sprite(microphone);
			width:15px;
			height:20px;
			top:8px;
			left:10px;
		}
		&.video:after {
			@include icons-sprite(film);
			width:16px;
			height:15px;
			top:8px;
			left:10px;
		}
		&.video {
			img {
				display: block;
				float:left;
				width:225px;
				height:160px;
				margin:-10px 0 0 -20px;
			}
		}
		.date {
			color:#aeaeae;
			font-family: helveticaneuecyrbold;
		}
		.title {
			padding-left: 20px;
			margin:0 0 5px;
		}
		.title, .title a {
			color:#323232;
			font-size: 18px;
			text-decoration: none;
			font-family: helveticaneuecyrbold;
			&:hover {
				color:#e95027;
				text-decoration: none;
			}
		}
		.description {
			color:#707070;
			max-height: 72px;
			overflow: hidden;
			text-overflow: ellipsis;

		}
	}
}
.index-mid-galery {
	margin-top:30px;
	> .cf a {
		display: block;
		float:left;
		margin-left: 15px;
		width:141px;
		height:141px;
		&.active img{
			border:2px solid #bd4322;
		}
		img {
			width:100%;
			border:2px solid #0f0f0f;
			height:100%;
		}
	}
	.like-tamada {
		margin-top:20px;
		text-align: right;
	}
}
.content-left {
	float:left;
	width:560px;
}
.aside-right {
	float:right;
	width:380px;
	.heading {
		padding-left: 25px;
		position: relative;
		color:#fff;
		margin-bottom: 20px;
		font-size: 18px;
		font-family: helveticaneuecyrbold;
		.icon {
			position: absolute;
			left:0;
			top:2px;
			z-index: 2;
		}
	}
	.feature-event {
		margin:0 0 20px;
		.date {
			margin-bottom: 2px;
			color:#adadad;
			font-family: helveticaneuecyrbold;
			span {
				color:#e74924;
			}
		}
		.description {
			color:#fff;

		}
	}
}
.albom {
	border:1px solid #363636;
	padding:10px;
	margin-bottom: 20px;
	&:hover {
		border:1px solid #959595;
		box-shadow:0 0 0 1px #959595;
	}
	.albom-pic {
		float:left;
		width:250px;
		img {
			max-width: 100%;
		}
	}
}
.albom-info {
	padding-left: 270px;
	.albom-name {
		color:#fff;
		font-size: 18px;
		margin-bottom: 5px;
	}
	.download {
		margin-bottom: 10px;
		font-family: helveticaneuecyrbold;
	}
	.text {
		color:#bdbdbd;
		line-height: 24px;
	}
}
.mb10 {
	margin-bottom: 10px;
}
.icons-download {
	margin-right: 5px;
	top:2px;
	position: relative;
}
.random-pics {
	margin-top:20px;
	img {
		float:left;
		width:33.332%;
		display: block;
		height:127px;
	}
}

.albom-table {
	width:100%;
	td {
		padding:5px 10px;
	}
	.name {
		width:280px;
		.title {
			color:#fff;
			float:left;
			width:220px;
		}
		.song-length {
			float:right;
			color:#fff;
		}
	}
	.play {
		cursor: pointer;
	}
	.playing-td {
		display: none;
		.pause {
			cursor: pointer;
			float:left;
			margin-right: 15px;
		}

		.song-duration {
			position: relative;
			height:8px;
			float: left;
			z-index: 2;
			width:100px;
			background: #494949;
			border-radius: 10px;
			top:3px;
			.volume {
				position: absolute;
				right: -22px;
				top: -6px;
				z-index: 2;
			}
			.duration-passed {
				position: absolute;
				height:100%;
				width:50%;
				background: #ea5127;
				border-radius: 10px;

				.icons-circle {
					position: absolute;
					right:-4px;
					cursor: pointer;
				}
			}
		}
	}
	.playing {
		.title,.song-length{
			color:#ed5d2e;
		}
		.icons-p {
			display: none;
		}
		.playing-td {
			display: block;
		}
	}
	.audio-timer {
		.icons-play {
			top:2px;
			position: relative;
		}

	}
	.download {
		width:120px;
		.icons-doc {
			margin-right: 5px;
		}
		.icons-doc {
			margin-right: 5px;
			position: relative;
			top:2px;
		}
	}
}

.news-box {
	background: url(../img/border-b.png) 0 100% repeat-x;
	padding-bottom: 40px;
	margin-bottom: 40px;
	.heading {
		padding-left: 30px;
		position: relative;
		font-weight: bold;
		margin-bottom: 10px;
		.title {
			font-size: 18px;
			color:#fff;
		}
		.date {
			font-size: 14px;
			color:#adadad;
		}
		.icon {
			position: absolute;
			left:0;
			top:2px;
		}
	}
}
.ml10 {
	margin-left: 10px;
}
.brd-none {
	border:none!important;
	background: none!important;
}
.pagination {
	float:right;
	@extend .cf;
	li {
		float:left;
		margin-left: 5px;
		&.active {
			a {
				background: #fff;
			}
		}
		a {
			display: block;
			width:43px;
			height:43px;
			line-height: 43px;
			text-align: center;
			background: #656565;
			font-size: 24px;
			text-decoration: none;
			color:#373737;
			&:hover {
				background: #fff;
			}
		}
	}

}
.concert-header {
	h2 {
		color:#fff;
		margin:0;
	}
	margin-bottom: 20px;
	.date {
		color:#adadad;
		span {
			color:#e74924;
		}
	}
}
.concert-body {
	background: url(../img/border-b.png) 0 100% repeat-x;
	padding-bottom: 40px;
	margin-bottom: 40px;

}
.concert-body .left + .concert-holder-text {
	padding-left:270px;
}

.contacts {
	background: url(../img/big-bg.jpg) -290px 0 no-repeat;
	padding-left: 540px;
	padding-top:110px;
	min-height: 700px;
	textarea {
		border:1px solid #4b4b4b;
		padding:10px;
		color:#7d7d7d;
		background: none;
		width: 100%;
		font-size: 14px;
	}
	input[type='text'] {
		width:48%;
	}
}
.contacts input[type='text'] {
	float:left;
}
.contacts input[type='text'] + input[type='text'] {
	float:right;
}
.contacts-list {
	margin-bottom: 40px;
	li {
		font-family: helveticaneuecyrlight;
		margin-bottom: 20px;
		color:#e1e1e1;
		font-size: 18px;
		span {
			color:#e74924;
		}
	}
	input[type='text'] {
		width:50%;
	}
}
input[type='text'],
input[type='password'] {
	background: none;
	border:1px solid #4b4b4b;
	height:30px;
	font-size: 14px;
	line-height: 28px;
	padding:5px 20px;
	color:#7d7d7d;
}
.galery-page {
	.galery-heading {
		margin-bottom: 40px;
		color:#e95027;
		font-size: 24px;
	}
	.galery-body {
		&.photogalery {
			a {
				height:320px;
				position: relative;
				padding:0;
				margin:0;
				img {
					margin:0;
					width:100%;
					height:100%;
				}
				&:hover {
					.hidden-text {
						display: block;
					}
				}
				.hidden-text {
					position: absolute;
					bottom:5px;
					left:0;
					width:100%;
					padding:10px;
					background: rgba(233,80,39, .9);
					font-family: helveticaneuecyrultralight;
					color:#fff;
					display: none;
					.title {
						font-size: 24px;
						line-height: 24px;
					}
					.description {
						font-size: 18px;
					}
				}
			}
		}
		a {
			float:left;
			width:33.332%;
			display: block;
			padding-right: 20px;
			margin-bottom: 20px;
			height:100px;
			@extend .cf;
			color:#bdbdbd;
			font-size: 18px;
			text-decoration: none;
			line-height: 24px;
			&:hover {
				color:#e74924;
			}
			img {
				max-width: 100%;
				float:left;
				margin-right: 10px;
			}
		}
	}
}
.modal {
	position: fixed;
	display: none;
	width:500px;
	top:200px;
	left:50%;
	margin-left: -250px;
	z-index: 15;
	background: #fff;
	padding:40px 20px;
	color:#505050;
	line-height: 24px;
	.close-modal {
		position: absolute;
		top:20px;
		right:20px;
		z-index: 2;
		border:none;
		background: none;
	}
}
.overlay {
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index: 10;
	background: rgba(0,0,0, .55);
	display: none;
}